[mysqld]
character-set-server=utf8
log_error=/var/lib/mysql/error.log

# Enable general query log
general_log_file        = /var/lib/mysql/query.log
general_log             = 1

# Enable Slow Query Log
# log_slow_queries       = /var/lib/mysql/slow.log
# long_query_time = 2
# log-queries-not-using-indexes

# fix the client-unknow-authentication-method-requested error
default_authentication_plugin = mysql_native_password

# Enable log_error, general-log_file and slow_query_log_file
# Enable error log
[mysqld_safe]
log_error=/var/lib/mysql/error.log
